{% extends 'main.html' %}

{% block body %}
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Delete</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.item_title }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
            <td><a href="{% url 'cart:remove' item.product.id %}" data-action="remove">Delete item</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'cart:remove_all' %}" data-action="remove">Delete all items</a>
    <script>
        $(document).ready(function () {
            $('a[data-action="remove"]').click(function () {
                $.ajax({
                    url: $(this).attr('href'),
                    success: function (response) {
                        window.location.reload();
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}