{% extends 'main.html' %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена за ед.</th>
            <th>Итого</th>
            <th></th>
        </tr>
        </thead>
        {% for item in cart %}
            <tbody>
            <tr>
                <td>{{ item.product.item_title }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price }}</td>
                <td>{{ item.total_price }}</td>
                <td><a href="{% url 'cart:remove' item.product.id %}" data-action="remove">Удалить товар</a></td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <p>Итоговая стоимость: {{ cart.summary }}</p>
    <a href="{% url 'cart:remove_all' %}" data-action="remove">
        <button type="button" class="btn btn-danger">Удалит все товары</button>
    </a>
    <a href="/cart/purchase/step_three/">
        <button type="button" class="btn btn-success">Оформить заказ</button>
    </a>


    <script>
        $(document).ready(function () {
            $('a[data-action="remove"]').click(function () {
                $.ajax({
                    url: $(this).attr('href'),
                    success: function (response) {
                        window.location.reload();
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}