# This file is here because many Platforms as a Service look for
# requirements.txt in the root directory of a project.
Django==1.9

pillow==2.9.0
# for image

setuptools

mysqlclient

pip

django-grappelli==2.8.1

wheel

braintree