{% extends 'main.html' %}

{% block login %}
    <div class="col-md-4 no-float">
        <form action="/auth/login/" method="post">
            {% csrf_token %}
            <form>
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                {% if login_error %}
                    <label class="error">{{ login_error }}</label>
                {% endif %}
                <button type="submit" class="btn btn-primary">Войти</button>
                <br>
                <div class="form-group">
                    <a href="/auth/register/">
                        <button type="button" class="btn btn-success">Региструйтесь</button>
                    </a>
                    <small>Если не имеете учетной записи!</small>
                </div>
            </form>
        </form>

    </div>

{% endblock %}

