{% extends 'main.html' %}
{% load staticfiles %}

{% block item %}
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Категории</p>
            <div class="list-group">

                {% regroup items by item_category as item_category_name %}

                    {% for i in item_category_name %}
                      <h3>{{i.grouper.item_category_name}}</h3>
                    {% endfor %}


            </div>
        </div>
        <div class="col-md-9">
            {% for item in items %}
                <div class="col-sm-3 col-lg-3 col-md-3">
                    <div class="thumbnail">
                        <a href="/items/get/{{ item.id }}/"><img
                                src="{{ MEDIA_URL }}/static/media/{{ item.item_image }}" alt="{{ item.item_title }}"
                                width="140" class="img-thumbnail"></a>
                        <div class="caption">
                            <h4>{{ item.item_price }}</h4>
                            <h4><a href="/items/get/{{ item.id }}/">{{ item.item_title }}</a></h4>
                            <p>{{ item.item_description }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">31 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}

            <hr>
        </div>
    </div>
     <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-9 no-float">
             <ul class="pagination">
                 {% if items.has_previous %}
                     <li class="enable"><a href="/page/{{ items.previous_page_number }}/">&laquo;</a></li>
                 {% else %}
                     <li class="disabled"><a href="">&laquo;</a></li>
                 {% endif %}
                 {% for page in items.paginator.page_range %}
                     {% if page == items.number %}
                         <li class="active"><a href="/page/{{ page }}/">{{ page }}</a></li>
                     {% else %}
                         <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                     {% endif %}
                 {% endfor %}
                 {% if items.has_next %}
                     <li class="enable"><a href="/page/{{ items.next_page_number }}/">&raquo;</a></li>
                 {% else %}
                     <li class="disabled"><a href="">&raquo;</a></li>
                 {% endif %}
             </ul>
         </div>
     </div>


{% endblock %}

