{% extends 'main.html' %}
{% load staticfiles %}
{% block item %}


    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ item.item_title }}
                    <small>Из категории:{{ item.item_category.item_category_name }}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img src="{{ MEDIA_URL }}/static/media/{{ item.item_image }}" alt="{{ item.item_title }}" width="500"  class="img-responsive">
            </div>

            <div class="col-md-4">
                <input type="number" value="1" name="quantity" min="1" max="i">
                <a id="add_to_cart">Add to Cart</a>
                <script>
                    var url = '{% url 'cart:add' item.id 0 %}'.replace('0', '{quantity}');
                    $(document).ready(function () {
                        $('#add_to_cart').click(function () {
                            var quantity = $('input[name="quantity"]').val();
                            $.ajax({
                                url: url.replace('{quantity}', quantity),
                                success: function (response) {
                                    alert('Item was added into cart');
                                }
                            })
                        })
                    });
                </script>
                <br>
                <h3>{{ item.item_price }} Сом</h3>
                <h4>{{ item.item_charity }} % процент в состав Фонду {{ item.item_foundation.foundation_name }}</h4>
                <p>Нравится:{{ item.item_likes }} пользователям</p>
                <p>{{ item.item_description }}</p>
                <h4>Дата создания: {{ item.item_date }}</h4>
                <hr/>
                <p>
                Share<br/>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.META.HTTP_HOST }}">
                Share on FB</a>
                </p>

                <hr/>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->







<hr>
<p>Комментарии:</p>
<div class="col-md-8 no-float">
{% for comments in comments %}
	<p>{{ comments.comments_text }}</p>
	<small>{{ comments.comments_from.username }} : {{ comments.comments_date }}</small>
	<hr><br>
{% endfor %}


	{% if username %}

	<form action="/items/addcomment/{{ item.id }}/" method="post" class="form-inline" role="form">
            {% csrf_token %}
            <br>
            {{ form }}
            <br>
            <input type="submit" class="btn btn-default" class="submit-post" value="Добавить коментарий">
            <br>
	</form>
	{% endif %}
</div>
{% endblock %}