<p class='lead'>
    Order {% if order.order_id %}#{{ order.order_id }}{% endif %} Summary</p>

<table class='table'>
    <tr>
        <td>{{ order.cart.cartitem_set.count }} Товар(ы): <br/>{% for i in order.cart.cartitem_set.all %}
            <b>{{ i.item.get_title }}</b><br/>
        {% endfor %}</td>
    </tr>
    <tr>
        <td>Итог корзины: {{ order.cart.subtotal }}</td>
    </tr>
    <tr>
        <td>Налог: {{ order.cart.tax_total }}</td>
    </tr>
    <tr>
        <td>Итог продуков: {{ order.cart.total }}</td>
    </tr>

    <tr>
        <td>Доставка: {{ order.shipping_total_price }}</td>
    </tr>
    <tr>
        <td>Весь заказ: {{ order.order_total }}</td>
    </tr>


</table>
</div>

<div class='col-sm-4 col-sm-offset-4 text-center'>

    <p><b>Оплата со счета </b>
        <br/>
        {{ order.billing_address.get_address }}
    <p>
    <p><b>Доставка к </b>
        <br/>
        {{ order.shipping_address.get_address }}
    <p>
</p>
</div>